body {
    padding: 0;
    margin: 0;
    background-color: rgb(27, 27, 30);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 18, 20);
    color: white;
    padding: 20px 30px;
}

.header a {
    text-decoration: none;
    color: white;
}

.nav-menu {
    display: flex;
    gap: 15px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-auth {
    display: flex;
    gap: 30px;
}

.nav-auth a {
    text-decoration: none;
    color: white;
}

